alldai_test
bipgraph_test
clustergraph_test
dag_test
daialg_test
enum_test
exceptions_test
factor_test
factorgraph_test
graph_test
index_test
prob_test
properties_test
regiongraph_test
smallset_test
util_test
var_test
varset_test
weightedgraph_test
